/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}/
      %h2=link_to "Best Coffee", category_path(Category.find(2))
      %ul.topthree
      - 3.times do |n|
        %li.space1
          %p.place_name
          -if PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_coffee[n].id), 2).votes.present?
            #{n+1}. #{@top_coffee[n].name} (#{((PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_coffee[n].id), 2).votes.size.to_f)/@coffee_votes_total.to_f*100).round}%)
          -else
            #{n+1}. #{@top_coffee[n].name}
          .center
            = link_to "Vote", vote_up_place_category_path(PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_coffee[n].id), 2)), method: :post, class: "btn btn-mini btn-vote", remote: true
          .vote-message
      %p
        %a.btn.btn-warning{:href => category_path(Category.find(2))} See More  »
    / /.span4
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}/
      %h2=link_to "Best Restaurant", category_path(Category.find(1))
      %ul
      - 3.times do |n|
        %li.space1
          %p
            -if PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_restaurants[n].id), 1).votes.present?
              #{n+1}. #{@top_restaurants[n].name} (#{((PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_restaurants[n].id), 1).votes.size.to_f)/@restaurant_votes_total.to_f*100).round}%)
            -else
              #{n+1}. #{@top_restaurants[n].name}
          .center
            = link_to "Vote", vote_up_place_category_path(PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_restaurants[n].id), 1)), method: :post, class: "btn btn-mini btn-vote", remote: true
          .vote-message

      %p
        %a.btn.btn-warning{:href => category_path(Category.find(1))} See More  »
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}/
      %h2=link_to "Best Italian", category_path(Category.find(4))
      %ul.topthree
      - 3.times do |n|
        %li.space1
          %p.place_name
          -if PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_italian[n].id), 4).votes.present?
            #{n+1}. #{@top_italian[n].name} (#{((PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_italian[n].id), 4).votes.size.to_f)/@italian_votes_total.to_f*100).round}%)
          -else
            #{n+1}. #{@top_italian[n].name}
          .center
            = link_to "Vote", vote_up_place_category_path(PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_italian[n].id), 4)), method: :post, class: "btn btn-mini btn-vote", remote: true
          .vote-message
      %p
        %a.btn.btn-warning{:href => category_path(Category.find(4))} See More  »

