<h1>Citizen Nom</h1>
<p>Vote on the best food in San Francisco</p>

<div class="center">
  <h2 class="center"><%= link_to "Best Restaurant", "#" %> </h2>
  <div class="food block_center">
    <%=image_tag("restaurant.jpg", alt: "") %>
  </div>
  <ul class="block_center">
    <% 3.times do |n| %>
      <li><%=n+1%>. <%= link_to @top_restaurants[n].name, "#" %></li>
    <%end%>
  </ul>
  <small><%=link_to "See More", "#"%></small>
</div>

<div class="center">
  <h2><%= link_to "Best Coffee", "#" %> </h2>
  <div class="food block_center">
    <%=image_tag("coffee.jpg", alt: "") %>
  </div>
  <ul class="block_center">
    <% 3.times do |n| %>
      <li>
          <%=n+1%>. <%=link_to @top_coffee[n].name, "#" %>
      </li>
    <% end %>
  </ul>
  <small><%=link_to "See More", "#"%></small>
</div>


<div class="center">
  <h2><%= link_to "Best Italian", "#" %> </h2>
  <div class="food block_center"><%=image_tag("italian.jpg", alt: "") %></div>
  <ul>
    <% 3.times do |n| %>
      <li><%=n+1%>. <%=link_to @top_italian[n].name, "#" %></li>
     <% end %>
   </ul>
   <small><%=link_to "See More", "#"%></small>
 </div>

 <div class="center">
   <h2><%= link_to "Best Burger", "#" %> </h2>
 <div class="food block_center"><%=image_tag("burger.jpg", alt: "") %></div>
 <ul>
   <% 3.times do |n| %>
     <li><%=n+1%>. <%=link_to @top_burger[n].name, "#"%></li>
 <% end %>
 </ul>
 <small><%=link_to "See More", "#"%></small>
 </div>
 <%=link_to "Sign up", new_user_registration_path%>

