<div data-role="header" data-position="fixed">
  <h1>Citizen Nom</h1>
</div>
<h3 class="center">Discover the Best Food in San Francisco</p>
<div class="center">
  <h2 class="center"><%= link_to "Best Restaurant", category_path(Category.find(1)) %> </h2>
  <div class="food">
    <%=image_tag("restaurant.jpg", alt: "") %>
  </div>
  <ul class="block_center">
    <% 3.times do |n| %>
      <li class="space0">
        <%=n+1%>. <%= link_to @top_restaurants[n].name, "#" %>
      </li>
    <%end%>
  </ul>
  <small><%=link_to "See More", category_path(Category.find(1)), :"data-role"=> "button", :"data-theme"=> "b"%></small>
</div>

<div class="center">
  <h2><%= link_to "Best Coffee", category_path(Category.find(2)) %> </h2>
  <div class="food space2">
    <%=image_tag("coffee.jpg", alt: "") %>
  </div>
  <ul class="block_center">
    <% 3.times do |n| %>
      <li class="space0">
          <%=n+1%>. <%=link_to @top_coffee[n].name, "#" %>
      </li>
    <% end %>
  </ul>
  <small><%=link_to "See More", category_path(Category.find(2)), :"data-role"=> "button", :"data-theme"=> "b"%></small>
</div>


<div class="center">
  <h2><%= link_to "Best Italian", category_path(Category.find(3)) %> </h2>
  <div class="food block_center space2"><%=image_tag("italian.jpg", alt: "") %></div>
  <ul>
    <% 3.times do |n| %>
      <li class="space0">
        <%=n+1%>. <%=link_to @top_italian[n].name, "#" %></li>
     <% end %>
   </ul>
  <small><%=link_to "See More", category_path(Category.find(3)), :"data-role"=> "button", :"data-theme"=> "b"%></small>
 </div>

 <div class="center">
   <h2><%= link_to "Best Burger", category_path(Category.find(4)) %> </h2>
 <div class="food block_center space2"><%=image_tag("burger.jpg", alt: "") %></div>
 <ul>
   <% 3.times do |n| %>
      <li class="space0">
      <%=n+1%>. <%=link_to @top_burger[n].name, "#"%></li>
 <% end %>
 </ul>
  <small><%=link_to "See More", category_path(Category.find(4)), :"data-role"=> "button", :"data-theme"=> "b"%></small>
 </div>
 <%=link_to "Sign up", new_user_registration_path%>

