/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}/
      %h2 Best Coffee
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      %p
        %a.btn{:href => "#"} See More »
    / /.span4
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}/
      %h2 Best Restaurant
      %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn{:href => "#"} See More  »
    / /.span4
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}/
      %h2 Best Italian
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn{:href => "#"} See More  »
    / /.span4
  / /.row
  / START THE FEATURETTES
  %hr.featurette-divider/
  .featurette
    = image_tag("restaurant.jpg", alt: "", class: "featurette-image pull-right img-polaroid")
    %h2.featurette-heading
      The Best Restaurant in a city known for its remarkable food.
      %span.muted It'll blow your mind.
    %ul.block_center
      - 3.times do |n|
        %li.space1
          %p.lead
            #{n+1}. #{link_to @top_restaurants[n].name, place_path(@top_restaurants[n])}
          .center
            = link_to "Vote", vote_up_place_category_path(PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_restaurants[n].id), 1)), method: :post, :"data-role"=> "button", :"data-inline"=> "true", :"data-mini"=> "true", :"data-icon"=>"check"
            = PlaceCategory.find_by_place_id_and_category_id(Place.find(@top_restaurants[n].id), 1).votes.size
    %small
      =link_to "See More", category_path(Category.find(1)), class: "btn btn-primary btn-block btn-large"

  %hr.featurette-divider/
  .featurette
    = image_tag("coffee.jpg", alt: "", class: "featurette-image pull-left  img-polaroid")
    %h2.featurette-heading
      Oh yeah, it's that good.
      %span.muted See for yourself.
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider/
  .featurette
    = image_tag("italian.jpg", alt: "", class: "featurette-image pull-right img-polaroid")
    %h2.featurette-heading
      And lastly, this one.
      %span.muted Mamma Mia!
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider/
  / /END THE FEATURETTES
